{% extends "backstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %} 鳥類管理 {% endblock title %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'No permission' %}
<script language="javascript">
    alert('您沒有使用者的權限喔！');
</script>
{% endif %}
{% endwith %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'failed' %}
<script language="javascript">
    alert('有使用者有使用到這筆資料，所以不能刪除');
</script>
{% endif %}
{% endwith %}

<script>
    $(document).ready(function () {
        $("#keyword").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#product tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<style>
    html,
    body {
        height: auto;
        overflow: auto;
        background-color: #ecf0f1;
    }

    table th,
    table td {
        text-align: center;
        vertical-align: middle;
    }

    .btn-danger {
        background-color: #ac2424;
        border-color: #ac2424;
        color: #fff;
    }

    .btn-danger:hover {
        background-color: #6d2525;
        border-color: #6d2525;
    }

    .btn-success {
        background-color: #285a5e;
        border-color: #285a5e;
        color: #fff;
    }

    .btn-success:hover {
        background-color: #1b4447;
        border-color: #1b4447;
    }
</style>
&nbsp;
&nbsp;
<div class="d-flex justify-content-between container-xxl">
    <div class="d-flex col-sm-4">
        <span class="input-group-text" id="basic-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
        </span>
        <input class="form-control me-2" id="keyword" placeholder="搜尋鳥類" aria-label="Search">
    </div>
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        新增鳥類
    </button>
</div>

<form method="post" enctype=multipart/form-data action={{ url_for('manager.add') }}>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">新增鳥類</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="inputBirdSpecies" class="form-label">鳥類品種</label>
                        <input type="text" class="form-control" id="inputBirdSpecies" name="species" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputUnitPrice" class="form-label">鳥類單價</label>
                        <input type="number" class="form-control" id="inputUnitPrice" name="price" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputSupplierId" class="form-label">供應商id</label>
                        <input type="number" class="form-control" id="inputSupplierId" name="sId" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputGuideId" class="form-label">照護手冊id</label>
                        <input type="number" class="form-control" id="inputGuideId" name="gId" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputProductDesc" class="form-label">鳥類說明</label>
                        <textarea class="form-control" id="inputProductDesc" name="bDesc" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="inputStock" class="form-label">鳥類庫存</label>
                        <input type="number" class="form-control" id="inputStock" name="stock" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-success">確定新增</button>
                </div>
            </div>
        </div>
    </div>
</form>

<br />

<div class="container-xxl">
    <form method='post' action={{ url_for('manager.productManager') }}>
        <table id="manager" class="table table-bordered">
            <thead>
                <tr>
                    <th width="10%">
                        <center>鳥類編號</center>
                    </th>
                    <th width="20%">
                        <center>鳥類品種</center>
                    </th>
                    <th width="15%">
                        <center>鳥類價格</center>
                    </th>
                    <th width="15%">
                        <center>鳥類庫存</center>
                    </th>
                    <th colspan="2">
                        <center>資料操作</center>
                    </th>
                </tr>
            </thead>
            <tbody id="product">
                {% for bird in bird_data %}
                <tr>
                    <td>
                        <center>{{ bird.鳥類編號 }}</center>
                    </td>
                    <td>
                        <center>{{ bird.鳥類品種 }}</center>
                    </td>
                    <td>
                        <center>{{ bird.鳥類價格 }}</center>
                    </td>
                    <td>
                        <center>{{ bird.鳥類庫存 }}</center>
                    </td>
                    <td>
                        <center><button type="submit" value="{{bird.鳥類編號}}" name="edit"
                                class="btn btn-success">編輯鳥類</button></center>
                    </td>
                    <td>
                        <center><button type="submit" value="{{bird.鳥類編號}}" name="delete"
                                onclick="return (confirm('你確定要刪除 \'{{ bird.鳥類品種 }}\' 嗎？'))"
                                class="btn btn-danger">刪除鳥類</button></center>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>

<script>
    function have_product() {
        alert('有使用者有使用到這筆資料，所以不能刪除');
    }
</script>

{% endblock content %}