@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

.login {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", "DFKai-SB", Courier, monospace;
}

.login_body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}

.login_body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/hero-bg.jpg"), #000;
  background-position: center;
  background-size: cover;
}

.wrapper {
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field input {
  width: 100%;
  height: 2em;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}

#remember {
  accent-color: #fff;
}

.forget label {
  display: flex;
  align-items: center;
}

.forget label p {
  margin-left: 8px;
}

.wrapper a {
  color: #efefef;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

.register {
  text-align: center;
  margin-top: 1em;
  color: #fff;
}

.same_account {
  color: red;
  margin-top: 1px;
  margin-bottom: 0 !important;
}

.option_div {
  color: #fff;
}
.form-check {
  color: #fff;
  margin-bottom: 1em;
  text-align: left;
}

.register_btn {
  display: block; /* 或者 display: flex; */
  text-align: center; /* 如果需要居中按鈕 */
}

.register_btn button {
  display: block; /* 讓每個按鈕在新的一行 */
  margin: 10px 0; /* 按鈕間距 */
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
  width: 100%;
}

.register_btn button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.logo {
  display: block; /* 確保 LOGO 是單獨一行 */
  margin: 0 auto 20px; /* LOGO 上下居中並在下方留出 20px 的空白 */
  max-width: 100px; /* 設定 LOGO 的寬度，你可以根據需要調整 */
  height: auto; /* 自動調整高度，保持比例 */
}
