{% extends "base.html" %} 
{% block head %} 
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock head %} 

{% block title %}寵物店商家管理商店{% endblock title %} 

{% block content %}
<div class="bird_container">
  <div class="content_container">
    <p class="index_title_p index_title_body">
        Manage Your Pet Store Effortlessly
      <span>
        寵物店商家管理商店
      </span>
      &mdash; All-in-One Solution &mdash;
    </p>
    
    <!-- 將按鈕放在這裡 -->
    <div class="button_container">
      <a href="{{ url_for('api.register') }}" class="index_btn" id="fullscr">Register</a>
      <a href="{{ url_for('api.login') }}" class="index_btn" id="fullscr">Login</a>
    </div>
  </div>

  <div class="bird-container bird-container--one">
    <div class="bird bird--one"></div>
  </div>

  <div class="bird-container bird-container--two">
    <div class="bird bird--two"></div>
  </div>

  <div class="bird-container bird-container--three">
    <div class="bird bird--three"></div>
  </div>

  <div class="bird-container bird-container--four">
    <div class="bird bird--four"></div>
  </div>
</div>
{% endblock content %}
