{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock head %}

{% block title %}Login Page{% endblock title %}

{% block content %}
<div class="login_body login">
    <div class="wrapper">
        <form method="post" action="{{ url_for('api.login') }}">
            <img src="../static/img/home.png" alt="Logo" class="logo">
            <h2>Login</h2>
            <div class="input-field">
                <input type="text" name="account" required>
                <label>Enter your account</label>
            </div>
            <div class="input-field">
                <input type="password" name="password" required>
                <label>Enter your password</label>
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <p class="same_account">
                {% for i in messages %}
                {{ i }}
                {% endfor %}
            </p>
            {% endif %}
            {% endwith %}
            <div class="register_btn">
                <button type="button" onclick="window.location.href='{{ url_for('index') }}'">回上頁</button>
                <button type="submit">登入</button>
            </div>
            <div class="register">
                <p>Don't have an account? <a href="{{ url_for('api.register') }}">Register</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock content %}