{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}Register Page{% endblock title%}

{% block content%}
<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
</head>

<body class="login_body login">
  <div class="wrapper">
    <form method='post' action={{ url_for('api.register') }}>

      <img src="../static/img/home.png" alt="Logo" class="logo">
      <h2>Register</h2>
      <div class="input-field">
        <input type="text" name="username" required>
        <label>Enter your name</label>
      </div>
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      {% for category, message in messages %}
      {% if category == 'name_exists' %}
      <p class="same_email">{{ message }}</p>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endwith %}


      <div class="input-field">
        <input type="text" name="email" required>
        <label>Enter your email</label>
      </div>

      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      {% for category, message in messages %}
      {% if category == 'email_exists' %}
      <p class="same_email">{{ message }}</p>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endwith %}

      <div class="input-field">
        <input type="text" name="password" required>
        <label>Enter your password</label>
      </div>

      <!-- Inline checkboxes -->
      <div>
        <p class="option_div">選擇你要註冊的身份</p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="identity" id="inlineRadio1" value="user">
          <label class="form-check-label" for="inlineRadio1">User</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="identity" id="inlineRadio2" value="manager">
          <label class="form-check-label" for="inlineRadio2">Manager</label>
        </div>
      </div>
      <div class="register_btn">
        <button type="button" onclick="window.location.href='{{ url_for('index') }}'">回上頁</button>
        <button type="submit">註冊</button>
      </div>

      <div class="register">
        Have an Account ? <a href="{{ url_for('api.login') }}">Login Here</a>
      </div>
    </form>
  </div>
</body>

</html>
{% endblock content%}